extends base.pug

block header
    div.header
        div.headerItem1 RENDER
        div.headerItem2 TEMPLATES
        div.headerItem3 WITH
        div.headerItem4 pug

block content
    div.mycontent
        root content for element with root id
        root2 content for element with root2 id
        mynewelement more text for mynewelement id
        anotherone last element text

block footer
    #footer
        custom footer text for home page